db-data
docker/generator/docker-entrypoint-initdb.d/generated-records.csv

cinnamon-prometheus-docker-sandbox*

#common
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/app-ui/node_modules
/public/bundles
npm.debug.log
*.p12

#ruby
.bundle

#OS X
.DS_Store
